<div class="text-center smalltopmargin">

    {{#if-equal param1=view.renderedName param2="project.apps.create"}}
        <h2>Confirm and create your Application</h2>
    {{/if-equal}}
    {{#if-equal param1=view.renderedName param2="project.database.create.final"}}
        <h2>Confirm and Create your SQL Cluster</h2>
    {{/if-equal}}
</div>


{{#if canModifyClusterAndDomain}}
    <div class="row mediumtopmargin">
        <div class="col-lg-2 text-center">
        </div>
        <div class="col-lg-2 text-right">
            <h2 class="text-primary">DNS</h2>
        </div>
        <div class="col-lg-3 text-left">
            {{view App.NotEmptyDomainTextField type="text" value=domainName placeholder="Enter a cluster domain short name" style="width: 100%;height: 40px;color: #428bca;border: 0px;border-bottom: dotted;border-bottom: aliceblu;" elementId="domainName" maxlength=15}}
        </div>
        <div class="col-lg-3 text-left">
            <h2 class="text-primary">.{{cloudId}}.acentera.com</h2>
        </div>
        <br/>
        <br/>
    </div>
{{/if}}




<div class="row">
    <div class="col-lg-4">
        &nbsp;
    </div>
    <div class="col-lg-6">

        <div class="box">
            <header>
                <div class="icons"><i class="icon-ok"></i></div>
                <h5>Summary</h5>
                <div class="toolbar">
                </div>
            </header>
            <div class="col-lg-12">

                <div class="row  col-lg-12">

                    <div class="col-lg-12">
                        &nbsp;
                    </div>

                    {{#if selectedJustDb}}
                        <div class="row col-lg-12">
                            <div class="col-lg-4 bottomdot">
                                Master DNS:
                            </div>

                            <div class="col-lg-8 bottomdot">

                                {{#if-equal param1=db_type param2='mysql'}}
                                    db.{{domainName}}.{{cloudId}}.acentera.com
                                {{/if-equal}}
                                {{#if-equal param1=db_type param2='pg'}}
                                    pg.{{domainName}}.{{cloudId}}.acentera.com
                                {{/if-equal}}

                            </div>
                        </div>
                        <div class="row col-lg-12">
                            <div class="col-lg-4 bottomdot">
                                Slave DNS:
                            </div>

                            <div class="col-lg-8 bottomdot">
                                {{#if-equal param1=db_type param2='mysql'}}
                                    dbreads.{{domainName}}.{{cloudId}}.acentera.com
                                {{/if-equal}}
                                {{#if-equal param1=db_type param2='pg'}}
                                    pgreads.{{domainName}}.{{cloudId}}.acentera.com
                                {{/if-equal}}
                            </div>
                        </div>
                    {{else}}
                        <div class="row col-lg-12">
                            <div class="col-lg-4 bottomdot">
                                App DNS:
                            </div>

                            <div class="col-lg-8 bottomdot">
                                {{appName}}.{{domainName}}.{{cloudId}}.acentera.com
                            </div>
                        </div>
                        {{#if selectedDb}}
                            <div class="row col-lg-12">
                                <div class="col-lg-4 bottomdot">
                                    Master DNS:
                                </div>

                                <div class="col-lg-8 bottomdot">
                                    {{#if-equal param1=db_type param2='mysql'}}
                                        db.{{domainName}}.{{cloudId}}.acentera.com
                                    {{/if-equal}}
                                    {{#if-equal param1=db_type param2='pg'}}
                                        pg.{{domainName}}.{{cloudId}}.acentera.com
                                    {{/if-equal}}
                                </div>
                            </div>
                            <div class="row col-lg-12">
                                <div class="col-lg-4 bottomdot">
                                    Slave DNS:
                                </div>

                                <div class="col-lg-8 bottomdot">
                                    {{#if-equal param1=db_type param2='mysql'}}
                                        dbreads.{{domainName}}.{{cloudId}}.acentera.com
                                    {{/if-equal}}
                                    {{#if-equal param1=db_type param2='pg'}}
                                        pgreads.{{domainName}}.{{cloudId}}.acentera.com
                                    {{/if-equal}}
                                </div>
                            </div>
                        {{/if}}
                    {{/if}}

                    <div class="col-lg-12 bottomdot">
                        <br/>
                    </div>
                    {{#else-equal param1=view.renderedName param2="project.apps.create.final"}}
                        <div class="row col-lg-12">
                            <div class="col-lg-4 bottomdot">
                                Region:
                            </div>
                            <div class="col-lg-8 bottomdot text-left">
                                {{selected_region.name}}
                            </div>
                        </div>
                    {{/else-equal}}
                    <div class="col-lg-12 ">
                        <br/><br/> &nbsp;
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{{#if showDatabaseSummary}}
    <div class="row">
    <div class="col-lg-4">
        &nbsp;
    </div>
    <div class="col-lg-6">

    <div class="box">
    <header>
        <div class="icons"><i class="icon-ok"></i></div>
        <h5>Database</h5>
        <div class="toolbar">
        </div>
    </header>
    <div class="col-lg-12">

    <div class="row  col-lg-12">

    <div class="col-lg-12">
        &nbsp;
    </div>
    {{#if selectedDb}}
        <div class="row">
            <div class="col-lg-4 bottomdot">
                Database:
            </div>
            <div class="col-lg-8 bottomdot">

                {{#if-equal param1='mysql' param2=db_type}}
                    MySQL
                {{/if-equal}}
                {{#if-equal param1='pg' param2=db_type}}
                    PostgreSQL
                {{/if-equal}}
            </div>
        </div>

        <div class="col-lg-12">
            <br/><br/>&nbsp;
        </div>

        <div class="row">
            <div class="col-lg-4 bottomdot">
                Database Name:
            </div>
            <div class="col-lg-8 bottomdot">

                {{#if db_name}}
                    {{db_name}}
                {{else}}
                    Auto Generate Value
                {{/if}}
            </div>
        </div>

        {{#if dbSpecifyUsers}}
            <div class="row">
                <div class="col-lg-4 bottomdot">
                    Write User:
                </div>
                <div class="col-lg-8 bottomdot">
                    {{write_username}}
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4 bottomdot">
                    Write Passwords:
                </div>
                <div class="col-lg-8 bottomdot">
                    {{write_password}}
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4 bottomdot">
                    Read User:
                </div>
                <div class="col-lg-8 bottomdot">
                    {{read_username}}
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4 bottomdot">
                    Read Passwords:
                </div>
                <div class="col-lg-8 bottomdot">
                    {{read_password}}
                </div>
            </div>
        {{else}}
            <div class="row">
                <div class="col-lg-4 bottomdot">
                    Database Username & Passwords:
                </div>
                <div class="col-lg-8 bottomdot">
                    Auto Generate Values
                </div>
            </div>
        {{/if}}


        <div class="col-lg-12">
            <br/><br/>&nbsp;
        </div>

        {{#equalObject 'false' selectedJustDb}}
            <div class="col-lg-4 bottomdot">
                Hosted on App Servers:
            </div>
            <div class="col-lg-8 bottomdot">
                {{#equalObject 'same_host' controller.selectedDb}}
                    Yes
                {{/equalObject}}

                {{#equalObject 'new_host' controller.selectedDb}}
                    No, db is on its own server.
                {{/equalObject}}
            </div>
        {{/equalObject}}

        {{#if-equal  param1='new_host' param2=dbhost}}
            <div class="row">
                <div class="col-lg-4 bottomdot">
                    Database Size:
                </div>
                <div class="col-lg-8">
                    {{#if-equal param1=66 param2=selected_size}}
                        512MB, 1CPU, 20GB SSD

                        <br/>
                        <br/>
                        The monthly cost is 15$/month/server
                    {{/if-equal}}

                    {{#if-equal param1=63 param2=selected_size}}
                        1GB, 1CPU, 30GB SSD

                        <br/>
                        <br/>
                        The monthly cost is 25$/month/server
                    {{/if-equal}}

                    {{#if-equal param1=62 param2=selected_size}}
                        2GB, 2CPU, 40GB SSD

                        <br/>
                        <br/>
                        The monthly cost is 35$/month/server
                    {{/if-equal}}

                    {{#if-equal param1=64 param2=selected_size}}
                        4GB, 2CPU, 60GB SSD

                        <br/>
                        <br/>
                        The monthly cost is 65$/month/server
                    {{/if-equal}}
                    {{#if-equal param1=65 param2=selected_size}}
                        8GB, 4CPU, 80GB SSD
                        <br/>
                        <br/>
                        The monthly cost is 110$/month/server
                    {{/if-equal}}

                    {{#if-equal param1=61 param2=selected_size}}
                        16GB, 8CPU, 160GB SSD
                        <br/>
                        <br/>
                        The monthly cost is 200$/month/server
                    {{/if-equal}}
                </div>
            </div>

            <div class="col-lg-12">
                <br/>&nbsp;
            </div>

            <div class="row">
                <div class="col-lg-4">
                    Number of Masters:
                </div>

                <div class="col-lg-8">
                    <div class="col-lg-3">
                        {{nbMasters}}
                    </div>

                    <div class="col-lg-9">

                        {{!-- equalObject 'mysql' controller.selectedDbType !--}}
                        <!--           <input id="sliderDbs" type="text" class="span2 slider" value="" data-slider-min="1" data-slider-max="5" data-slider-step="1" data-slider-value="1" data-slider-orientation="horizontal" data-slider-selection="after" data-slider-tooltip="show">-->
                        {{!-- equalObject --}}


                        <br/>&nbsp;
                    </div>

                </div>
            </div>
            <div class="row">
                {{!-- equalObject 'pg' controller.selectedDbType --}}
                <div class="col-lg-4">
                    Number of Reads:
                </div>

                <div class="col-lg-8">
                    <div class="col-lg-3">
                        {{nbSlaves}}
                    </div>

                    <div class="col-lg-9">
                        <input id="sliderReads" type="text" class="span2 slider" value="" data-slider-min="0" data-slider-max="5" data-slider-step="1" data-slider-value="1" data-slider-orientation="horizontal" data-slider-selection="after" data-slider-tooltip="show">
                        <br/>&nbsp;
                    </div>

                </div>
                {{!-- equalObject --}}
            </div>

            <div class="row">
                <div class="col-lg-4">
                    Database Monthly Cost:
                </div>

                <div class="col-lg-8">
                    <b>{{dbMonthCost}}</b>
                </div>
            </div>

        {{/if-equal}}


    {{else}}
        <div class="row">
            <div class="col-lg-4 bottomdot">
                Database:
            </div>
            <div class="col-lg-8 bottomdot">
                No
            </div>
        </div>
    {{/if}}

    <div class="col-lg-12 ">
        <br/><br/> &nbsp;
    </div>

    <div class="col-lg-10 ">
        <br/><br/> &nbsp;
    </div>
    <div class="col-lg-2 ">
        <a id="doDbChange" {{action dbChange 'db'}}  class="btn btn-primary btn-lg"  style="float:right" data-original-title="Change your database options" data-toggle="tooltip">Change</a>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
{{/if}}