<div class="row">

    <br/>

    <div class="col-lg-12">

        <div class="text-center">
            <h3>Select the region</h3>
        </div>

        <div class="row">

            <div class="col-lg-2 text-center">
            </div>
            <div class="col-lg-2 text-right">
            </div>

        </div>
        <div class="row">

            <div id="collapse3" class="accordion-body collapse in body">
                <div class="col-lg-12 text-center leftfloat">
                    <div class="col-lg-2 text-center">
                    </div>
                    <div class="col-lg-10 text-center">
                      <div class="row col-lg-12">

                     {{#if regionsList.length}}
                        {{#eachIndexed v in regionsList}}

                            {{#in-array param1=v param2=regionsAvailable}}

                                {{#if-equal param1=v.slug param2=slug}}
                                    <a class="col-lg-2 text-center quick-btn active" style="height:150px;width:150px">
                                        <span>{{v.name}}</span>
                                        <br/>
                                        <span {{bind-attr class=v.slug}}></span>
                                    </a>
                                {{/if-equal}}

                                {{#else-equal param1=v.slug param2=slug}}
                                    <a class="col-lg-2 text-center quick-btn" {{action selectRegion v}} style="height:150px;width:150px">
                                        <span>{{v.name}}</span>
                                        <br/>
                                        <span {{bind-attr class=v.slug}}></span>
                                    </a>
                                {{/else-equal}}

                            {{/in-array}}
                            {{#not-in-array param1=v param2=regionsAvailable}}
                                <a data-original-title="Region currently disabled on this Cloud" data-toggle="tooltip" class="col-lg-2 quick-btn disabled" {{action disabled}} disabled="disabled" style="height:150px;width:150px">
                                    <span>{{v.name}}</span>
                                    <span>disabled</span>
                                    <span {{bind-attr class=v.slug}}></span>
                                </a>
                            {{/not-in-array}}
                        {{/eachIndexed}}
                     {{else}}
                        <div class="col-lg-8 text-left">
                            <br/>
                           No regions are available for this API Key.
                        </div>
                     {{/if}}
                    </div>

                    </div>



                </div>


            </div>
            <br/>
            <br/>
            <br/>
        </div>
    </div>
</div>